<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [3]:
!pip install jupysql

Collecting jupysql
  Downloading jupysql-0.10.7-py3-none-any.whl.metadata (5.6 kB)
Collecting prettytable (from jupysql)
  Downloading prettytable-3.9.0-py3-none-any.whl.metadata (26 kB)
Requirement already satisfied: sqlalchemy in /Users/enginsan/anaconda3/envs/eng_new/lib/python3.11/site-packages (from jupysql) (1.4.51)
Requirement already satisfied: sqlparse in /Users/enginsan/anaconda3/envs/eng_new/lib/python3.11/site-packages (from jupysql) (0.4.4)
Requirement already satisfied: ipython-genutils>=0.1.0 in /Users/enginsan/anaconda3/envs/eng_new/lib/python3.11/site-packages (from jupysql) (0.2.0)
Requirement already satisfied: jinja2 in /Users/enginsan/anaconda3/envs/eng_new/lib/python3.11/site-packages (from jupysql) (3.1.2)
Collecting sqlglot>=11.3.7 (from jupysql)
  Downloading sqlglot-20.8.0-py3-none-any.whl.metadata (16 kB)
Collecting ploomber-core>=0.2.7 (from jupysql)
  Downloading ploomber_core-0.2.22-py3-none-any.whl.metadata (536 bytes)
Collecting jupysql-plugin (from jupysql)
  Downloading jupysql_plugin-0.4.0-py3-none-any.whl.metadata (7.7 kB)
Requirement already satisfied: pyyaml in /Users/enginsan/anaconda3/envs/eng_new/lib/python3.11/site-packages (from ploomber-core>=0.2.7->jupysql) (6.0.1)
Collecting posthog (from ploomber-core>=0.2.7->jupysql)
  Downloading posthog-3.3.1-py2.py3-none-any.whl.metadata (2.0 kB)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/enginsan/anaconda3/envs/eng_new/lib/python3.11/site-packages (from jinja2->jupysql) (2.1.3)
Requirement already satisfied: wcwidth in /Users/enginsan/anaconda3/envs/eng_new/lib/python3.11/site-packages (from prettytable->jupysql) (0.2.5)
Requirement already satisfied: requests<3.0,>=2.7 in /Users/enginsan/anaconda3/envs/eng_new/lib/python3.11/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.31.0)
Requirement already satisfied: six>=1.5 in /Users/enginsan/anaconda3/envs/eng_new/lib/python3.11/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.16.0)
Collecting monotonic>=1.5 (from posthog->ploomber-core>=0.2.7->jupysql)
  Using cached monotonic-1.6-py2.py3-none-any.whl (8.2 kB)
Collecting backoff>=1.10.0 (from posthog->ploomber-core>=0.2.7->jupysql)
  Using cached backoff-2.2.1-py3-none-any.whl (15 kB)
Requirement already satisfied: python-dateutil>2.1 in /Users/enginsan/anaconda3/envs/eng_new/lib/python3.11/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/enginsan/anaconda3/envs/eng_new/lib/python3.11/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/enginsan/anaconda3/envs/eng_new/lib/python3.11/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/enginsan/anaconda3/envs/eng_new/lib/python3.11/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (1.26.18)
Requirement already satisfied: certifi>=2017.4.17 in /Users/enginsan/anaconda3/envs/eng_new/lib/python3.11/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2023.11.17)
Downloading jupysql-0.10.7-py3-none-any.whl (93 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 93.3/93.3 kB 602.9 kB/s eta 0:00:00a 0:00:01
Downloading ploomber_core-0.2.22-py3-none-any.whl (22 kB)
Downloading sqlglot-20.8.0-py3-none-any.whl (350 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 350.6/350.6 kB 713.8 kB/s eta 0:00:0000:0100:01
Downloading jupysql_plugin-0.4.0-py3-none-any.whl (414 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 414.3/414.3 kB 868.3 kB/s eta 0:00:00a 0:00:01
Downloading prettytable-3.9.0-py3-none-any.whl (27 kB)
Downloading posthog-3.3.1-py2.py3-none-any.whl (40 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 40.6/40.6 kB 746.6 kB/s eta 0:00:00--:--
Installing collected packages: monotonic, sqlglot, prettytable, backoff, posthog, ploomber-core, jupysql-plugin, jupysql
Successfully installed backoff-2.2.1 jupysql-0.10.7 jupysql-plugin-0.4.0 monotonic-1.6 ploomber-core-0.2.22 posthog-3.3.1 prettytable-3.9.0 sqlglot-20.8.0

In [1]:
%load_ext sql

Deploy AI and data apps for free on Ploomber Cloud! Learn more: https://docs.cloud.ploomber.io/en/latest/quickstart/signup.html

In [2]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()
print(con)

<sqlite3.Connection object at 0x1337495d0>

In [3]:
%sql sqlite:///my_data1.db

Connecting to 'sqlite:///my_data1.db'

In [4]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

In [5]:
df.head()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-10-08,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-03-01,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

**Note:This below code is added to remove blank rows from table**

In [6]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

Running query in 'sqlite:///my_data1.db'

RuntimeError: (sqlite3.OperationalError) table SPACEXTABLE already exists
[SQL: create table SPACEXTABLE as select * from SPACEXTBL where Date is not null]
(Background on this error at: https://sqlalche.me/e/14/e3q8)
If you need help solving this issue, send us a message: https://ploomber.io/community

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [7]:
%sql select DISTINCT(Launch_Site) from SPACEXTBL

Running query in 'sqlite:///my_data1.db'

+--------------+
| Launch_Site  |
+--------------+
| CCAFS LC-40  |
| VAFB SLC-4E  |
|  KSC LC-39A  |
| CCAFS SLC-40 |
+--------------+


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [8]:
%sql select * from SPACEXTBL where Launch_Site LIKE "CCA%" LIMIT 5

Running query in 'sqlite:///my_data1.db'

+------------+------------+-----------------+-------------+---------------------------------------------------------------+-------------------+-----------+-----------------+-----------------+---------------------+
|    Date    | Time (UTC) | Booster_Version | Launch_Site |                            Payload                            | PAYLOAD_MASS__KG_ |   Orbit   |     Customer    | Mission_Outcome |   Landing_Outcome   |
+------------+------------+-----------------+-------------+---------------------------------------------------------------+-------------------+-----------+-----------------+-----------------+---------------------+
| 2010-06-04 |  18:45:00  |  F9 v1.0  B0003 | CCAFS LC-40 |              Dragon Spacecraft Qualification Unit             |         0         |    LEO    |      SpaceX     |     Success     | Failure (parachute) |
| 2010-12-08 |  15:43:00  |  F9 v1.0  B0004 | CCAFS LC-40 | Dragon demo flight C1, two CubeSats, barrel of Brouere cheese |         0         | LEO (ISS) | NASA (COTS) NRO |     Success     | Failure (parachute) |
| 2012-05-22 |  7:44:00   |  F9 v1.0  B0005 | CCAFS LC-40 |                     Dragon demo flight C2                     |        525        | LEO (ISS) |   NASA (COTS)   |     Success     |      No attempt     |
| 2012-10-08 |  0:35:00   |  F9 v1.0  B0006 | CCAFS LC-40 |                          SpaceX CRS-1                         |        500        | LEO (ISS) |    NASA (CRS)   |     Success     |      No attempt     |
| 2013-03-01 |  15:10:00  |  F9 v1.0  B0007 | CCAFS LC-40 |                          SpaceX CRS-2                         |        677        | LEO (ISS) |    NASA (CRS)   |     Success     |      No attempt     |
+------------+------------+-----------------+-------------+---------------------------------------------------------------+-------------------+-----------+-----------------+-----------------+---------------------+

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [30]:
%sql select SUM(PAYLOAD_MASS__KG_) from SPACEXTBL where Customer ="NASA (CRS)"

Running query in 'sqlite:///my_data1.db'

+------------------------+
| SUM(PAYLOAD_MASS__KG_) |
+------------------------+
|         45596          |
+------------------------+

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [31]:
%sql select AVG(PAYLOAD_MASS__KG_) from SPACEXTBL where Booster_Version ="F9 v1.1"

Running query in 'sqlite:///my_data1.db'

+------------------------+
| AVG(PAYLOAD_MASS__KG_) |
+------------------------+
|         2928.4         |
+------------------------+

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [32]:
%sql select MIN(DATE) from SPACEXTBL where Landing_Outcome ="Success (ground pad)"

Running query in 'sqlite:///my_data1.db'

+------------+
| MIN(DATE)  |
+------------+
| 2015-12-22 |
+------------+

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [40]:
%sql select Booster_Version from SPACEXTBL where Landing_Outcome ="Success (drone ship)" and PAYLOAD_MASS__KG_ between 4000 and 6000

Running query in 'sqlite:///my_data1.db'

+-----------------+
| Booster_Version |
+-----------------+
|   F9 FT B1022   |
|   F9 FT B1026   |
|  F9 FT  B1021.2 |
|  F9 FT  B1031.2 |
+-----------------+

### Task 7




##### List the total number of successful and failure mission outcomes

In [50]:
%sql select substr(Mission_Outcome,1,7), COUNT(*) from SPACEXTBL GROUP BY 1

Running query in 'sqlite:///my_data1.db'

+-----------------------------+----------+
| substr(Mission_Outcome,1,7) | COUNT(*) |
+-----------------------------+----------+
|           Failure           |    1     |
|           Success           |   100    |
+-----------------------------+----------+

In [39]:
#%sql select Mission_Outcome, \
#sum(CASE WHEN Mission_Outcome LIKE '%Failure%' THEN 1 ELSE 0 END) \
#from SPACEXTBL


#count(*) as 'a' from SPACEXTBL where Landing_Outcome LIKE '%Success%', count(*) as "b" FROM SPACEXTBL where Landing_Outcome LIKE '%Failure%'

Running query in 'sqlite:///my_data1.db'

+-----------------+-------------------------------------------------------------------+
| Mission_Outcome | sum(CASE WHEN Mission_Outcome LIKE '%Failure%' THEN 1 ELSE 0 END) |
+-----------------+-------------------------------------------------------------------+
|     Success     |                                 1                                 |
+-----------------+-------------------------------------------------------------------+

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [52]:
%sql select DISTINCT Booster_Version from SPACEXTBL Where PAYLOAD_MASS__KG_ = (select max(PAYLOAD_MASS__KG_) from SPACEXTBL)

Running query in 'sqlite:///my_data1.db'

+-----------------+
| Booster_Version |
+-----------------+
|  F9 B5 B1048.4  |
|  F9 B5 B1049.4  |
|  F9 B5 B1051.3  |
|  F9 B5 B1056.4  |
|  F9 B5 B1048.5  |
|  F9 B5 B1051.4  |
|  F9 B5 B1049.5  |
|  F9 B5 B1060.2  |
|  F9 B5 B1058.3  |
|  F9 B5 B1051.6  |
+-----------------+
Truncated to displaylimit of 10.

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**substr(Date, 6,2)

In [70]:
%sql select distinct substr(Date, 6,2) as 'month', substr(Date, 0,5) as 'year', Landing_Outcome, Booster_Version, Launch_Site from SPACEXTBL \
where Landing_Outcome='Failure (drone ship)' and  substr(Date,0,5)='2015'

Running query in 'sqlite:///my_data1.db'

+-------+------+----------------------+-----------------+-------------+
| month | year |   Landing_Outcome    | Booster_Version | Launch_Site |
+-------+------+----------------------+-----------------+-------------+
|   01  | 2015 | Failure (drone ship) |  F9 v1.1 B1012  | CCAFS LC-40 |
|   04  | 2015 | Failure (drone ship) |  F9 v1.1 B1015  | CCAFS LC-40 |
+-------+------+----------------------+-----------------+-------------+

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [79]:
%sql select Date, Landing_Outcome, COUNT(*) from SPACEXTBL \
WHERE Date between "2010-06-04" and "2017-03-20" \
group by Landing_Outcome ORDER BY 3 DESC

Running query in 'sqlite:///my_data1.db'

+------------+------------------------+----------+
|    Date    |    Landing_Outcome     | COUNT(*) |
+------------+------------------------+----------+
| 2012-05-22 |       No attempt       |    10    |
| 2016-04-08 |  Success (drone ship)  |    5     |
| 2015-01-10 |  Failure (drone ship)  |    5     |
| 2015-12-22 |  Success (ground pad)  |    3     |
| 2014-04-18 |   Controlled (ocean)   |    3     |
| 2013-09-29 |  Uncontrolled (ocean)  |    2     |
| 2010-06-04 |  Failure (parachute)   |    2     |
| 2015-06-28 | Precluded (drone ship) |    1     |
+------------+------------------------+----------+